# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace
!*.xcodeproj/project.pbxproj
xcuserdata/
*.xcscmblueprint

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build artifacts
.build/
*.app/
*.zip

# Claude
.claude/settings.local.json
