<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Mac Resource Monitor</string>
	<key>CFBundleExecutable</key>
	<string>MacResourceMonitor</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.mikejoseph.mac-resource-monitor</string>
	<key>CFBundleName</key>
	<string>Mac Resource Monitor</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.1</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://iadev.net/mac-resource-monitor/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>pWnZ8xqfdmXz442htqe9Hwh8miCUuw0H1JVNaItI9EA=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>14400</integer>
</dict>
</plist>
